.hero-logo {
  position: absolute;
  left: 10px;
  top: 10px;
  @include media($tablet) {
    left: 40px;
    top: 40px;
  }
  svg {
    width: 55px;
    height: 60px;
    @include media($tablet) {
      width: 138px;
      height: 152px;
    }
  }
}

.home-hero {
  position: relative;
  background: url("images/hero.jpg") top center no-repeat;
  background-position-y: 80px;
  background-size: 650px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 667px;
  width: 100%;
  color: $priCol;
  @include media($tablet) {
    background: url("images/hero.jpg") top center no-repeat;
    height: 100vh;
    max-height: 800px;
  }
  @include media($desktop) {
    background: url("images/hero.jpg") center center no-repeat;
    background-size: cover;
  }
  @include media($full) {
    background: url("images/hero.jpg") center center no-repeat;
    background-size: cover;
    max-height: none;
    height: calc(100vh);
  }
  .hero-bucket {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 430px;
    position: relative;
    z-index: 1;
    @include media($tablet) {
      padding-left: 40px;
      padding-top: 500px;
    }
    @include media($desktop) {
      padding-left: 120px;
      padding-top: 420px;
    }
    @include media($full) {
      padding-top: 55vh;
    }
  }
  h1.taglines-pretitle {
    margin: 0;
    text-transform: uppercase;
    background: $priCol;
    color: white;
    max-width: 210px;
    padding: 3px;
    font-family: $secFont;
    font-size: 18px;
    @include media($tablet) {
      background: $secCol;
      color: white;
      max-width: 220px;
      font-size: 19px;
    }
  }
  h2.taglines-title {
    margin: 0;
    color: $secCol;
    font-family: $priFont;
    text-align: left;
    letter-spacing: -0.5px;
    @include font(29px, 1em, 300);
    padding-top: 20px;
    @include media($tablet) {
      padding-top: 0;
      color: white;
      @include font(52px, 1.1em, 300);
    }
  }
  h3.taglines-subtitle {
    margin: 0;
    color: $secCol;
    text-align: left;
    font-style: italic;
    font-family: $priFont;
    @include font(18px, 1.2em, 100);
    max-width: 690px;
    padding-top: 20px;
    @include media($tablet) {
      color: white;

      padding-top: 30px;
      @include font(29px, 1.3em, 400);
    }
  }
}

.home-about {
  padding-bottom: 80px;
  padding-top: 60px;
  background: #f7f7f7;

  @include media($tablet) {
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  .about-content {
    text-align: left;
    @include media($tablet) {
      margin-right: 80px;
    }
    @include media($desktop) {
      margin-right: 100px;
      max-width: 700px;
    }
    h2 {
      margin-top: 0;
    }
    span {
      display: block;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 20px;
      font-style: italic;
      @include media($tablet) {
        margin-top: 80px;
      }
    }
  }
  .about-image {
    @include media($tablet) {
      width: 338px;
    }
    img {
      box-shadow: 0px 13px 16px rgba($color: #000000, $alpha: 0.16);
      width: 100%;
      max-width: 250px;
      @include media($tablet) {
        width: auto;
        max-width: none;
      }
    }
    span {
      display: block;
      padding-top: 10px;
    }
  }
}

.home-fly {
  background: #f7f7f7 url("images/img-fly.png") top center no-repeat;
  background-size: 600px auto;
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  @include media($tablet) {
    background-size: auto;
    height: 350px;
  }
}

.home-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .service {
    position: relative;
    width: 50%;
    height: 30vw;
    overflow: hidden;
    @include media($desktop) {
      width: 33.3%;
      height: 19vw;
    }
  }
  a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      h3 {
        font-size: 33px;
        top: 12vw;
        right: 60px;
      }
    }
  }
  img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
  h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    color: white;
    top: 22vw;
    right: 0px;
    left: 0;
    font-size: 18px;
    @include media($desktop) {
      font-size: 23px;
      right: 40px;
      left: auto;
      top: 14vw;
      transition: all 0.2s ease-in-out;
    }
  }
}

.home-testis {
  min-height: 400px;
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
  @include media($tablet) {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .home-testi_head {
    margin-bottom: 20px;
  }

  li p {
    font-size: 18px !important;
    line-height: 40px;
    max-width: $desktop;
    margin: 0 auto;
    color: #5a5a5a;
  }
  li strong {
    display: block;
    margin-top: 30px;
    font-size: 26px;
    font-weight: normal;
    font-style: italic;
  }
  .button {
    margin-top: 100px;
    position: relative;
    padding-left: 60px !important;
    background-color: $priCol;
    &:hover {
      background-color: $secCol;
    }
    svg {
      position: absolute;
      top: 10px;
      left: 20px;
    }
  }
  .splide__arrows {
    display: none;
  }
  .splide__pagination {
    bottom: -50px;
    button {
      width: 10px;
      height: 10px;
      background-color: $priCol;
    }
    .is-active {
      background-color: $priCol;
    }
  }
}
