//   Variables

$priCol: #93C3AD; 
$priAlt: #9D9D9D; 

$secCol: #4B5F52;
$secAlt:  #9BBCBC;

$triCol: #ccc;
$triAlt: #ccc;

$lightColor: #ffffff;
$lightAlt: #E5E5E5;

$darkColor: #000000;
$darkAlt: #000000;

$textColor: #9D9D9D;

// Font Family

$priFont: 'Sen', sans-serif;
$secFont: 'Lato', sans-serif;
$highFont: 'Times New Roman' , serif;

// Font Weight

$thin: 100;
$light: 300;
$normal: 400;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;

// Sizing

$tablet: 768px;
$ogDesktop: 980px;
$ogFull: 1380px;

$desktop: 1060px;
$full: 1460px;

$sidebar: 300px;

// Default Font and Text Color 

$defaultfont: $priFont;
$defaultcolor: $textColor;

// Transitions and Shadows

$shadow: 0px 15px 30px rgba(black, .16);
$priTrans: all .25s ease; // Primary Transition 



